/* ------------------------------------------------------------------------------ */
/* PALETA */
/* ------------------------------------------------------------------------------ */
/* padrão: #90DC5A rgb(144, 220, 90) 
    escuro: #53A31B rgb(83, 163, 27)*/

/* ------------------------------------------------------------------------------ */
/* Breakpoints */
/* ------------------------------------------------------------------------------ */
/* max 375px <mobile>
    max 800px <tablet>
     <desktop> max 1040px */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dosis', sans-serif;
    font-size: 17.5px;
    scroll-behavior: smooth;
    
}

body {
    display: grid;
    grid-template-areas: "header"
    "entenda" "tips" "contato" "footer"
}

/* ------------------------------------------------------------------------------ */
/* Títulos */
/* ------------------------------------------------------------------------------ */
h1 {
    font-size: 310%;
    text-shadow: 4px 3px 7px rgba(0,0,0,0.51);
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;  
    margin: 30px auto;
    letter-spacing: 1px; 
    order: 0;
  }
  
h2:after {    
      display: block;
      height: 2px;
      width: 100px;
      background-color: #90DC5A;
      content: " ";
      margin: 0 auto;
      margin-top: 15px;      
  }

h3 {
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;  
    margin: 10px auto;
    letter-spacing: 1px; 
  }

p {
    text-align: justify;
    margin: 0 15px 15px 15px;
}

/* ------------------------------------------------------------------------------ */
/* Seção: HEADER */
/* ------------------------------------------------------------------------------ */
header {
    grid-area: header;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(85deg, rgba(0, 0, 0, 0.7) -5%, transparent), url(resources/img/Orla-de-João-Pessoa.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    
}

header nav {
    height: 25vh;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

header nav .logo {
    width: 100%;
    text-align: center;
    background-color: rgba(144, 220, 90, 0.64);

}

header nav .logo img {
    width: 10%;
    max-width: 60px;
    margin: 5px;   
}

header nav ul {
    display: flex;
    list-style: none;
    background-color: rgba(83, 163, 27, 0.5);
}

header nav ul li {
    width: 100%;
    text-align: center;
    font-size: 100%;
    padding: 10px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: white;
    text-decoration: none;    
}

header nav ul li:hover {
    background-color:rgba(84, 163, 27, 0.2);   
}

header #maintext {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 18px;
}

header #maintext .maincontainer {
    position: relative;
    top: -176px;
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
}

header #maintext h1 {
    letter-spacing: 7px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
}

header #maintext p {
    letter-spacing: 2px;
    margin: 0;
    color: white;
    font-weight: 400;
}
/* ------------------------------------------------------------------------------ */
/* Seção: ENTENDA */
/* ------------------------------------------------------------------------------ */
#entenda {
    display: flex;
    flex-direction: column;
    grid-area: entenda;
    /* TODO: breakpoints */
}

#entenda .sectionImg {
    width: 100vw;
    overflow: hidden; 
}

#entenda .sectionImg {
    width: 100vw;
    overflow: hidden;
}    

#entenda:nth-child(3) {
    display: hidden;
}

#entenda .sectionImg img {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 2s,
                transform 1.5s;
        
}

#entenda .sectionImg img:hover {
    filter: none;
    transform: scale(1.1) rotate(3deg); 
    overflow: hidden; 
}



/* ------------------------------------------------------------------------------ */
/* Seção: tips */
/* ------------------------------------------------------------------------------ */
#tips {
    grid-area: tips;
    display:flex;
    flex-direction: column;
}


#tips .tipbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#tips .tipbox:nth-child(odd) {
    background-color: #ccf4af;
}

#tips .tipbox img {
    height: 50px;
    width: 50px;
    margin-bottom: 14px;
 
}

/* ------------------------------------------------------------------------------ */
/* Seção: contato */
/* ------------------------------------------------------------------------------ */
#contato {
    grid-area: contato;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#contato form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

#contato form .formsec {
    display: flex;
    flex-direction: column;
    width: 80%;    
    margin-bottom: 10px;
}

#contato form .formsec > label {
    margin-bottom: 5px;
}

#contato form > input {
    padding: 10px;
    margin-top: 15px;
    display: block;
    width: 30%;
}


/* ------------------------------------------------------------------------------ */
/* Seção: footer */
/* ------------------------------------------------------------------------------ */
footer {
    background-color: rgb(54, 54, 54);
    
}

#footcontainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 20px;
}

#footcontainer a:link,
#footcontainer a:visited {
    color: white;
    text-decoration: none;    
}

#footcontainer #footmenu,
#footcontainer #social,
#footcontainer #copy {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    text-align: center;
}

#footcontainer #footmenu ul {
    list-style: none;

}

#footcontainer #footmenu ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 90%;
    
}

#footcontainer #social {
    letter-spacing: 15px;
    order: -1;
}

#footcontainer #social a i {
    font-size: 36px;
    position: relative;
    left: 7px;
}

#footcontainer #copy p {
    font-size: 90%;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
